body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    color: white;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question {
    height: 100vh;
    padding-top: 100px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
}

#yesBtn {
    background: white;
    color: #ff4b7d;
}

#noBtn {
    background: #ff4b7d;
    color: white;
    position: absolute;
}

.hidden {
    display: none;
}
